{% extends "base.html" %}
{% block content %}

<h5 class="center-align cyan-text text-darken-2">Add Plan</h5>

<div class="row card-panel grey lighten-4">
    <form class="col s12" method="POST" action="{{ url_for('add_plan') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}
                    </option>
                    {% endfor %}
                </select>
                <label class="grey-text " for="category_name">Plan Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix darken-4"></i>
                <input id="task_name" name="task_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="task_name">Plan</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix darken-4"></i>
                <textarea id="task_description" name="task_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="task_description">Plan Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix darken-4"></i>
                <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                <label for="due_date">Date Plan</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-clock prefix darken-4"></i>
                <input id="time_picker" name="time_picker" type="text" class="timepicker validate" required>
                <label for="time_picker">Time</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix darken-4"></i>
                <input id="created_by" name="created_by" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="created_by">Created by</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-triangle red-text prefix"></i>
                    <label for="is_urgent">
                        <input type="checkbox" id="is_urgent" name="is_urgent">
                        <span class="lever"></span>
                        ASAP
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-small cyan darken-2 text-shadow">
                    Add Plan<i class="fas fa-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}