{% extends "base.html" %}
{% block content %}

    <h5 class="cyan-text text-darken-3 center-align">Manage Categories</h5>

    <div class="row">
        <div class="col s12 right-align">
            <a href="{{ url_for('add_category') }}" class="btn-small transparent cyan-text text-darken-2">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card cyan darken-2 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn green">Edit</a>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn grey">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}