{% extends "base.html" %}
{% block content %}

<div class="col landing-page black center-align">
    <span class="landing">
        <img class="responsive-img"
            src="https://res.cloudinary.com/food-channel/image/upload/v1624628818/template_primary_ttbczu.jpg">
    </span>   
    <span class="landing">
        <img class="responsive-img"
            src="https://res.cloudinary.com/food-channel/image/upload/v1624288227/cathryn-lavery-fMD_Cru6OTk-unsplash_sr6b1d.jpg">
    </span>
 </div>

<h5 class="left-align text-shadow">Testimonials</h5>
 <div class="container testi1">
<div class="container testi">
  <img src="https://res.cloudinary.com/food-channel/image/upload/v1618934001/samples/animals/reindeer.jpg" alt="Avatar" style="width:90px">
  <span>Christian Fox.</span>
  <p>Amazing app!</p>
</div>

<div class="container testi">
  <img src="https://res.cloudinary.com/food-channel/image/upload/v1618934013/samples/animals/kitten-playing.gif" alt="Avatar" style="width:90px">
  <span>Rebecca Flex.</span>
  <p>Very useful app!</p>
</div>

</div>
{% endblock %}