{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header black-text grey lighten-2 ">
                <i class="fas fa-caret-down"></i>
                <div class="col s3">
                    <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn-small green accent-4"><i class="far fa-check-circle"></i></a>
                    <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-small light-blue lighten-1"><i class="fas fa-pencil-alt"></i></a>
                </div>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }} {{ task.time_picker }}
                {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle red-text lighten-4 tooltipped"
                        data-position="right" data-tooltip="ASAP!"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
    